<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Блоки для SEO-метатегов -->
    <meta name="Keywords" content="{% block keywords %}{{ keywords }}{% endblock %}">
    <meta name="Description" content="{% block description %}{{ description }}{% endblock %}">

    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Swiper.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

    <!-- Подключение анимаций -->
    <script src="/static/js/scripts.js" defer></script>
    <script src="/static/js/swiper.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/legalservices">Услуги</a></li>
                <li><a href="/about">Компания</a></li>
                <li><a href="/questions">Вопросы</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="https://x-lines.ru/letters/i/cyrillicscript/0813/09093f/34/0/4nmpbqgtomeaaegos8emmwfzrdemjwf64n77bc6oz5emr.png"
                     alt="Жить без долгов - главная страница"
                     class="logo-img">
            </a>
        </div>

        <div class="company-tel">
            <h2><a href="/contacts">+7 (977) 803-48-97</a></h2>
            <h2><a href="/contacts">+7 (495) 518-63-56</a></h2>
        </div>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <!-- Подвал -->
  <!-- Верхний футер (обычный, с кнопками) -->

    <footer class="footer-on-top">
      <div class="footer-on-top-links">
        <a href="/agreement">Политика конфиденциальности</a>
        <a href="/osnovnye-momenty-procedury-bankrotstva">Процедура банкротства</a>
        <a href="/применение-закона-о-банкротстве">Как объявить себя банкротом</a>
        <a href="/цены-на-услуги-банкротства">Цены</a>
        <a href="/contacts">Контакты</a>
      </div>
    </footer>

    <footer class="footer">
        {% block footer %}
            <p>© 2025 Дефендер плюс. Все права защищены.</p>
            <p>Дизайн и разработка: <a href="https://lavandazz.com" target="_blank" style="color: #4d0728;">Lavandazz</a></p>
        {% endblock footer %}
    </footer>

</body>
</html>
