{% extends "base.html" %}
{% block title %}Банкротство физических лиц, юридические услуги по банкротству{% endblock %}
{% block content %}

    <div class="hello-message-container">
        <img src="/static/logo/logol1.png" alt="Лого?" class="hello-image">

    </div>

    <div class="stats-container">
        {% for title, value in key_features.items() %}
        <div class="stat-item fade-in-item-left">
            <div class="stat-title">{{ title }}</div>
            <div class="stat-value">{{ value }}</div>
            <img src="/static/images/index_images/index{{ loop.index }}.png" alt="лого" class="stat-image">
        </div>
        {% endfor %}
    </div>
    <br>
    <br>

    <div class="section-spacer">
        <div class="hero-container fade-in-delay">
            <img src="/static/images/index_images/why.png" alt="Почему мы?" class="hero-image">
        </div>
    </div>

    <div class="section-spacer">
        <div class="hero-container fade-in-delay">
            <ul class="hero-text">
                {% for answer in list_of_question_why_are_we %}
                <li>{{ answer }}</li>
                {% endfor %}
            </ul>
        </div>


    </div>

    <div class="stats-container">
        {% for answer, value in the_question_why_are_we.items() %}
        <div class="stat-item fade-in-item-right">
            <div class="stat-title">{{ answer }}</div>
            <div class="stat-value">{{ value }}</div>
            <img src="/static/images/index_images/index_down{{ loop.index }}.png" alt="лого" class="stat-image">
        </div>
        {% endfor %}
    </div>

{% endblock %}