{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

<img src="https://x-lines.ru/letters/i/cyrillicscript/4265/000000/44/0/4nqpdn3y4n97dygoszemfwcy4napdnqosdemmwfhrdemjwf64n77bc6ozyopbcty4n3pbxsos9em3wf64n5pbxqoz5eadwcn4nhnn.png">

<li><img src="https://x-lines.ru/letters/i/cyrillicscript/0819/090948/28/0/4nmpbqgtomeaaegos8emmwfzrdemjwf64n77bc6oz5emr.png"></li>
<li><img src="https://x-lines.ru/letters/i/cyrillicscript/0280/0a0a43/30/0/4nmpbqgtomeaaegos8emmwfzrdemjwf64n77bc6oz5emr.png"></li>
<li><img src="https://x-lines.ru/letters/i/cyrillicscript/0637/0a0a47/36/0/4nmpbqgtomeaaegos8emmwfzrdemjwf64n77bc6oz5emr.png"></li>
<li><img src="https://x-lines.ru/letters/i/cyrillicscript/0813/09093f/34/0/4nmpbqgtomeaaegos8emmwfzrdemjwf64n77bc6oz5emr.png"></li>

{% endblock %}