{% extends "base.html" %}

{% block content %}
<h1 class="text-center mb-4">Добавить услугу</h1>
<form action="/admin_dashboard/add" method="post" class="border p-4 rounded shadow bg-light">

    <div class="mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" id="title" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea id="description" name="description" class="form-control" rows="6" style="resize: vertical;" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary w-100">Добавить</button>
</form>
{% endblock %}
