{% extends "base.html" %}

{% block content %}
<h1 class="text-center mb-4">Добавить сотрудника</h1>
<form action="/admin/add_worker" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Фамилия</label>
        <input type="text" id="surname" name="surname" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="patronymic" class="form-label">Отчество</label>
        <input type="text" id="patronymic" name="patronymic" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="about_worker" class="form-label">Описание</label>
        <textarea id="about_worker" name="about_worker" class="form-control" rows="6" style="resize: vertical;" required></textarea>
    </div>

        <!--  КНОПКА ДЛЯ ФОТО -->
    <div class="mb-3">

        <label for="photo">Фото:</label>
        <input type="file" id="photo" name="photo" accept="image/*" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Добавить</button>
</form>
{% endblock %}
