{% extends "base.html" %}

{% block content %}
<h1 class="text-center mb-4">Редактирование данных о сотруднике</h1>

<form action="/admin/save_edit_question/{{ question.id }}" method="post" class="border p-4 rounded shadow bg-light"
    enctype="multipart/form-data">

    <div class="mb-3" style="height: 70px; font-size: 18px;">
        <label for="question" class="form-label">Вопрос</label>
        <input type="text" id="question" name="question" value="{{ question.question }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="answer" class="form-label">Ответ</label>
        <textarea id="answer" name="answer" class="form-control" rows="10" style="resize: vertical;" required>
            {{ question.answer }}
        </textarea>
    </div>
    <div class="mb-3" style="height: 70px; font-size: 18px;">
        <label for="article" class="form-label">Ссылка на статью ФЗ</label>
        <input type="text" id="article" name="article" value="{{ question.article }}" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-20">Сохранить изменения</button>
    <a href="/admin/questions" class="btn btn-info w-20">Отмена</a>
</form>
{% endblock %}
