{% extends "home/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
    <h1> {{ title }}</h1>
    <br>
    <main class="about-container">
        <div class="about-item fade-in">
            <div class="about-content">
                <ul class="custom-list">
                    <li>Что такое «банкротство гражданина (физического лица)?</li>
                    <li>Какие основания для подачи гражданином заявления о банкротстве предусмотрены в законодательстве Российской Федерации?</li>
                    <li>Какие документы необходимы для обращения гражданина в суд с заявлением о личном банкротстве?</li>
                </ul>
                <br>
                <p><strong>Что такое «банкротство гражданина (физического лица)?</strong></p>
                <br>
                <p>
                    Реклама об оказании правовой поддержки гражданам по списанию долгов все чаще стала появляться
                    в сети «Интернет».  На сетевых просторах нашей страны появились сайты с предложениями
                    юридических компаний услуги в разрешении кредитных проблем путем признания физическим лицом
                    банкротом.
                </p>
                <br>
                <p>
                    С 01.10.2015г. в Федеральный закон Российской Федерации от 26.10.2002г. № 127-ФЗ «О несостоятельности
                    (банкротстве)» (далее – «Закон о несостоятельности (банкротстве)») были внесены изменения,
                    позволившие гражданам признавать себя банкротами. Закон о банкротстве в отношении юридических лиц и
                    индивидуальных предпринимателей действует в России с 2002 года. За 14 лет действия Закона о
                    несостоятельности (банкроства), процедура банкротства юридических лиц обкатана и устранены все
                    неточности указанного нормативно-правового акта. После получения огромного опыта применения в
                    Российской Федерации Закона о несостоятельности (банкротстве) в отношении субъектов
                    предпринимательства законодатель перенес данную практику и на физических лиц.
                </p>
                <br>
                <p>
                    Основные моменты процедуры банкротства физических лиц в нашей стране были заимствованы из
                    законодательства стран Западной Европы и США, где практика признания гражданина несостоятельным
                    действует уже не один десяток лет.
                </p>
                <br>
                <p>
                    Главными сходными чертами процедур банкротства в государствах выступают следующие механизмы:
                    получение гражданином права на реструктуризацию (отсрочку платежа) по потребительским и ипотечным
                    кредитам, коммунальным платежам, иным гражданско-правовым обязательствам; реализация имущества
                    гражданина-банкрота для погашения требований его кредиторов. Основными отличиями личного банкротства
                    гражданина в России от процедуры несостоятельности физического лица в цивилизованных странах
                    являются:
                </p>
                <br>
                <ul class="custom-list">
                    <li>гражданин не может использовать свое право на инициирование повторного личного банкротства
                        в течение 5 календарных лет с момента объявления его банкротом;</li>
                    <li>отсутствие у гражданина имущества, достаточного для погашения расходов по арбитражному
                        делу о его банкротстве (к сожалению, в арбитражные суды отказывают некоторым гражданам
                        в связи с отсутствием у них какого-либо имущества (денежные средства, автотранспорт,
                        садовый участок);</li>
                    <li>низкая финансовая грамотность граждан нашей страны (в нашей стране нередки ситуации,
                        связанные с непониманием заемщиками порядка начисления процентов за пользование
                        кредитными ресурсами, штрафных санкций за несвоевременный возврат основного долга
                        и просрочку уплаты процентов);</li>
                    <li>разная стоимость финансовых ресурсов по потребительским и ипотечным кредитам
                        (если для жителей США или стран Западной Европы жизнь в долг не вызывает особого дискомфорта
                        (процентная ставка по ипотечным и потребительским кредитам -  от 3 до 8 процентов годовых),
                        то в нашей стране обслуживание гражданином  ссуды (займа) превращается в добровольное кредитное
                        рабство (процентная ставка по указанным кредитам составляет от 18 процентов годовых).</li>
                </ul>
                <br>
                <p>
                    <strong>Какие основания для обращения гражданина в суд с заявлением о банкротстве предусмотрены
                        в законодательстве?</strong>
                </p>
                <br>
                <p>
                    В соответствии с Законом о несостоятельности (банкротстве) любой гражданин Российской Федерации или
                    его кредитор вправе направить в арбитражный суд заявление о признании такого гражданина
                    несостоятельным (банкротом) при наличии следующих условий:
                </p>
                <br>
                <ul class="custom-list">
                    <li>сумма долгов гражданина превышает 500 000 рублей  и указанные долги не могут быть
                        оплачены более трех месяцев;</li>
                    <li>либо гражданин может обратиться с подобным заявлением в арбитражный суд в случае
                        предвидения банкротства при наличии обстоятельств, очевидно свидетельствующих о том,
                        что он не в состоянии исполнить денежные обязательства и (или) обязанность по уплате
                        обязательных платежей в установленный срок, при этом гражданин отвечает признакам
                        неплатежеспособности и (или) признакам недостаточности имущества.</li>
                </ul>
                <br>
                <p>
                    <strong>Какие документы необходимы для обращения гражданина в суд с заявлением о личном
                        банкротстве? </strong>
                </p>
                <br>
                <p>
                    Для целей принятия арбитражным судом заявления о признании гражданина несостоятельным он обязан
                    вместе с заявлением подать следующие документы:
                </p>
                <br>
                <p><u>1) Документы, характеризующие правовой статус гражданина</u></p>
                <ul class="custom-list">
                    <li>копия паспорта гражданина;</li>
                    <li>копия решения о признании гражданина безработным, выданная государственной
                        службой занятости населения, в случае принятия указанного решения;</li>
                    <li>копия свидетельства о постановке на учет в налоговом органе (при наличии);</li>
                    <li>копия свидетельства о заключении брака (при наличии заключенного и не расторгнутого
                        на дату подачи заявления брака);</li>
                    <li>копия свидетельства о расторжении брака, если оно выдано в течение трех лет
                        до даты подачи заявления (при наличии).</li>
                    <li>документ, подтверждающие наличие или отсутствие у гражданина статуса индивидуального
                        предпринимателя на основании выписки из единого государственного реестра индивидуальных
                        предпринимателей либо иного подтверждающего указанные сведения документа.</li>
                </ul>
                <br>
                <p><u>2) Документы, характеризующие имущественное положение гражданина</u></p>
                <ul class="custom-list">
                    <li>списки кредиторов и должников гражданина,</li>
                    <li>опись имущества гражданина;</li>
                    <li>копии документов, подтверждающих право собственности гражданина на имущество
                        (предоставляется выписка из Единого государственного реестра прав на недвижимое имущество);</li>
                    <li>копии документов о совершавшихся гражданином в течение трех лет до даты подачи
                        заявления сделках с недвижимым имуществом, ценными бумагами, долями в уставном
                        капитале, транспортными средствами и сделках на сумму свыше трехсот тысяч рублей
                        (при наличии);</li>
                    <li>выписка из реестра акционеров (участников) юридического лица, акционером (участником)
                        которого является гражданин (при наличии);</li>
                    <li>сведения о полученных физическим лицом доходах и об удержанных суммах налога
                        за последние три года;</li>
                    <li>выданная банком справка о наличии счетов, вкладов (депозитов) в банке и (или) об
                        остатках денежных средств на счетах;</li>
                </ul>
                <br>
                <p>
                    <u>3) Документы, подтверждающие наличие задолженности,
                    </u> основание ее возникновения и неспособность гражданина удовлетворить требования
                    кредиторов в полном объеме</p>
                <ul class="custom-list">
                    <li>копии кредитных договоров, заключенных гражданином с кредитными организациями;</li>
                    <li>копии договоров микрозайма, заключенных гражданином с микрофинансовыми организациями;</li>
                    <li>справки банков (микрофинансовых организаций) о размере текущей просроченной задолженности.</li>
                </ul>

            </div>
        </div>
    </main>
{% endblock %}
